<div class="container">
  <div>
    <p>Welcome to login</p>
  </div>

  <form [formGroup]="form">
    <input type="text" formControlName="email" placeholder="Email" />

    <input type="text" formControlName="password" placeholder="Password" />

    <button (click)="logar()">Ok</button>
    <div *ngIf="showErrorMessage">
      <p>{{ errorMessage }}</p>

      <div><button (click)="register()">Cadastrar-se</button></div>
    </div>
  </form>
  <p>
    If you don't have a login, register
    <a id="click" (click)="register()">here</a>
  </p>
</div>
